<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title> Pacific Hotel</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src={% static "js/pickmeup.min.js" %}></script>
    <script type="text/javascript" src={% static "js/handleCounter.js" %}></script>
    <link rel="stylesheet" type="text/css" "{% static "css/pickmeup.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/handle-counter.min.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script type="text/javascript" src={% static "js/jquery.scrollUp.js" %}></script>
    <script type="text/javascript" src={% static "js/demo.js" %}></script>

    
    
    </head>
    
<body>
    <header class="tm-header">
        <img class="tm-logo" src="/static/Majestic_Hotel_hd.png" alt="Pacific Hotel">
        <nav class="tm-nav">
       <div>
            <ul>
                <li class="tm-list"><a href="index.html">Home</a></li>
                <li class="tm-list"><a href="explore.html">Explore</a></li>
                <li class="tm-list"><a href="rooms.html">Rooms</a></li>
                <li class="tm-list"><a href="bb.html">Booking</a></li>
                <li><a href="new.html">My Bookings</a></li>
                <li><a href="contact.html">Contact</a></li>
                <!-- Admin Controls Tab -->
                {% if request.user.is_authenticated and request.user.is_staff %}
                <li class="tm-list"><a href="/admin/">Admin Controls</a></li>
                {% endif %}
                <li><a href="{% url 'login:logout' %}">Log Out</a></li>
            </ul>    
            </div>
        </nav>
    </header>
    
    
    <section class="tm-main">
           <p>Booking</p>
    </section>
    
    
    
    <section class="tm-booking">

        <form method="POST" action="{% url 'home:handle_form' %}">
            {% csrf_token %}
            <div class="tm-form1">
                <input type="text" name="name" placeholder="Name" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <label for="rooms" id="inlinelable">Rooms</label>
                <select name="Rooms" id="rooms">
                    <option value="luxurys">Luxury Suite</option>
                    <option value="deluxs">Delux Suite</option>
                    <option value="premiers">Premier Suite</option>
                    <option value="Luxuryr">Luxury Room</option>
                    <option value="deluxs">Delux Room</option>
                    <option value="premierr">Premier Room</option>
                </select>
                <div class="tm-num1" id="handleCounter1">
                    <label for="number1">Number of Rooms</label><br />
                    <button type="button" class="counter-minus btn btn-primary">-</button>
                    <input type="text" name="number1" id="number1" value="1" required>
                    <button type="button" class="counter-plus btn btn-primary">+</button>
                </div>
                <div class="tm-num2" id="handleCounter2">
                    <label for="number2">Number of Guests</label><br />
                    <button type="button" class="counter-minus btn btn-primary">-</button>
                    <input type="text" name="number2" id="number2" value="1" required>
                    <button type="button" class="counter-plus btn btn-primary">+</button>
                </div>
            </div>
        
            <div class="vertical-line"></div>
        
            <div class="form2">
                <div class="cl">
                    <label for="arrival_date" class="arrival">Arrival Date:</label>
                    <input type="date" id="arrival_date" name="arrival_date" required><br>
        
                    <label for="departure_date" class="departure">Departure Date:</label><br>
                    <input type="date" id="departure_date" name="departure_date" required>
        
                    <input type="submit" id="sub" value="Proceed">
                </div>
            </div>
        </form>
        
  </section>
    
    
    <footer class="tm-footer">
        <div class="tm-us">
        <p class="bold">About Us</p>
        <p>We are a part of chain of luxury hotels 
            which extends all over the world. We 
            provide a luxorious stay with various value
            added and free services which will make
            you visit us over and over again.</p>    
        </div>
       
        <div class="tm-address">
        <p class="bold">Address</p>
        <p>
            350/E Gomti Nagar, Delhi-432500 <br>
            Phone: (+91) 9898958585 <br>
            Email: pacific@info.com</p>    
        </div>
        <br/>
    <div class="tm-media">
        <a href="#"> <img src="/static/fb.png"></a>
        <a href="#"> <img src="/static/G.png"> </a>
        <a href="#"> <img src="/static/twittr.png"> </a>
        <a href="#">  <img src="/static/insta.png"> </a>
        
        </div>
<!--        <a href="#">  <img class="tm-up" src="/static/up.png"> </a>-->
    </footer>
    

    
    </body>
    
</html>
    